{% extends "layout.html" %}
{% block content %}
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Contact Us</h2>
            </div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.Name.label(class="form-control-label") }}
                    {% if form.Name.errors %}
                        {{ form.Name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.Subject.label(class="form-control-label") }}
                    {% if form.Subject.errors %}
                        {{ form.Subject(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Subject.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Subject(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.Mail.label(class="form-control-label") }}
                    {% if form.Mail.errors %}
                        {{ form.Mail(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Mail.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Mail(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.Message.label(class="form-control-label") }}
                    {{ form.Message(cols="35", rows="8") }}
                </div>

                <div class="form-group text-center">
                    {{ form.Submit(class="btn btn-outline-primary") }}
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
